.footer{
    background-color: #ffb6af;
    .footer__test{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5vh;
        font-family: 'Pacifico', cursive;
    }
}