
.footer{
    background-color: $shiracolor;
    .footer__test{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5vh;
        font-family: $letratitulo;
    }
}