.main{
    background-color: $shiracolor;
    &__animation{
        display: block;
        width: 100%;
    }
    .main__catalogo{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        top: 4%;
        background: rgba(255, 182, 175, 0.0)  
    }
    &__img{
        font-family: $letraparrafo;
        font-size: xx-large;
        width: 350px;
        padding: 3rem;
        &--carousel{
            font-family: $letrapreguntas;
            font-size: 4vh;
        }
        .slide img {
            width: 100%;
            height: 450px;
            object-fit: cover;
        }
    }
    &__pedidos{
        font-family: $letrapreguntas;
        font-size: 1em;

    }
}
.main__card{
    width: 350px;
    padding: 3rem;
    background-color: $shiracolor;
    
    & img {
        width: 100%;
        height: 400px;
        object-fit: cover;
        background-color: $shiracolor;
    }
    &--item{
        padding: 1vh;
        margin: 2%;
        position: relative;
        width: 100%;
    }
}
.main__catalogo--title{
    background: rgba(255, 182, 175, 0.8);
    font-size: 2vh;
    font-family: $letrapreguntas;
}
.main__preguntas{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $shiracolor;
    padding: 4vh;
    font-size: 2vh;
    
    &--box1 {
        display: flex;
        justify-content: center;
        font-family: $letrapreguntas;
        font-size: 1em;

   
    }
    
    &--box2 {
        display: flex;
        justify-content: center;
        padding: 5rem;
        font-size: 2vh;        
        background-color: $shiracolor;
        &--itmes{
            font-family: $letrapreguntas;
            margin-bottom: 1vh;

        }
        
    }

}




