@media (max-width: 1080px){
    .imgae__overlay{
        opacity: 1;
    }
    
}
@media (max-width: 991px){
    .navbar-brand{
        display: none;
    }
    
}
@media (max-width: 320px){
    .main__preguntas{
        flex-wrap: wrap;
    }
    
    
}


