*{
    margin: 0;
    padding: 0;
}
.header{
    background-color: #ffb6af;
    padding: 4px;
}

.header__nav--position{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 1px;
}

.header__text{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-right: 2%;
    align-items: center;
    background-color: #ffb6af;
}

.header__logo{
    display: flex;
}

.background_color{
    background-color: #ffb6af;

}


.nav__paddin{
    margin-top: 2vh;
}

main{
    background-color: #ffb6af;
}
.main__img{
    width: 350px;
    padding: 3rem;
    
}
.slide img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.footer{
   
    width: 100%;    
    background-color: #ffb6af;
    padding-bottom: 3%;
   
}